## compiler
*__pycache__/
*pyc

## documentation
XICRA_pip/docs/build/
XICRA_pip/docs/source/_static
XICRA_pip/docs/source/_templates

## eclipse/developer
.project
.pydevproject
.settings/
XICRA_pip/.spyproject/

## environment
XICRA_pip/env/XICRA_env/
env/

## pypi developer
XICRA_pip/*.egg-info
XICRA_pip/dist
XICRA_pip/build
XICRA_pip/.pypirc

# big file to avoid
BMC_bioinformatics_paper/simulation/data/simulations_results_percDiff-8_XICRA.simulations.csv
XICRA_pip/XICRA/modules/db_files/

## test subset
XICRA_pip/test_subset
subset2test/XICRA*
subset2test/logs
