
*__pycache__/
*pyc

## documentation
XICRA_pip/docs/build/
XICRA_pip/docs/source/_static
XICRA_pip/docs/source/_templates


## eclipse
.project
.pydevproject

## environment
XICRA_pip/env/XICRA_env/

## pypi developer
XICRA_pip/*.egg-info
XICRA_pip/dist
XICRA_pip/build
XICRA_pip/.pypirc

